

form {
	/* Center the form on the page. */
	margin: 0 auto;
	width: 600px;
	/* Curved border around the form. */
	padding: 0.5em;
	border: 2px solid #CCC;
	border-radius: 1em;
	/* Make all the fonts in the form the same. */
	font-family: Arial, Helvetica, sans-serif;
	background: linear-gradient(to bottom, rgb(204, 229, 255), rgba(204, 229, 255, 0.4));

}

form div+div {
	/* Every div after the first div in the form. */
	margin-top: 1em;
}

fieldset {
	/* Get rid of the border on the fieldset. */
	border: 0;
}

label {
	/* Uniform size & alignment for labels. */
	display: inline-block;
	width: 110px;
	text-align: right;
}

legend {
	/* Add a bottom border to the legend. */
	border-bottom: px solid black;
}

input,
textarea {
	/* You must explicitly override the fonts in textareas and inputs. */
	font-family: Arial, Helvetica, sans-serif;
	/* Uniform text field  and textarea sizes. */
	width: 425px;
	box-sizing: border-box;
	/* Match form field borders */
	border: 1px solid #999;
}

input:focus,
textarea:focus {
	/* Additional highlight for focused elements */
	border-color: #000;
}

textarea {
	/* Align multiline text fileds with their labels */
	vertical-align: top;
	/* Provide space to type some text */
	height: 5em;
}

select {
	/* You must explicitly override the font in a select. */
	font-family: Arial, Helvetica, sans-serif;
	/* Make the select as wide as the other form elements. */
	width: 425px;
}

button {
	width: 425px;
	padding: 3px 3px;
	margin-left: 115px;
	background: rgb(215, 219, 223);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 700;
	color: rgb(16, 16, 199);
	transition: all 500ms ease-in-out;
}

button:hover {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
}

.card {
	height: 0 auto;
	width: 344px;
	border: 6px solid rgb(215, 219, 223);
	margin: 3vw auto;
	margin-left: 150px;
}

.card:hover {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
	transition: all 500ms ease-in-out;
}

.card_content {
	border-radius: 1vw;
	margin: auto;
}

.desert {
	height: 194px;
	width: 344px;
	overflow: hidden;
	border-radius: 0.5vw;
}

.card_details {
	height: 57px;
}

.avatar {
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	float: left;
	width: 40px;
	margin-left: 16px;
	margin-right: 16px;
}

#titlecard {
  color: #000;
	font-size: 22px;
	margin: 0;
}

#secondtext {
	color: #232F34;
	margin: 0;
}

#greyhoundtext {
	padding: 16px;
  color: #232F34;
	font-size: 11px;
	margin: 1vw;
}

form {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	/* Can't seem to figure out how columns would adjust this
	form per instructions */
}

@media screen and (max-width: 599px) {
	form {
		display: block;
		width: auto;
		border: none;
		margin: 0;
	}

	fieldset {
		margin: 0.1em;
		padding: 0.1em;
	}

	button {
		margin: 0.1em;
		padding: 0.1em;
		/* need help on applying grid-column adjustment */
	}

	.card {
		margin: 1 em;
		margin-left: auto;
		margin-right: auto;
		/* Got this to be centered when <599px */
	}

	label {
		text-align: left;
	}

	input,
  select,
	textarea,
	button {
		width: 100%
		/* This is what I needed along with a display block
		on form to have the elements stretch when <599px */
	}
}

@media screen and (min-width: 600px) {
	form {
		width: 600px;
		grid-column: span 2 / 7;
		/* need help on this grid-column adjustment */

	}
}
